/* reset */
* {
  margin: 0;
  padding: 0;
}

/* styles */

body {
  font: 15px/1.3 Arial, sans-serif;
  color: #4f4f4f;
  z-index: 1;
}

#clock {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 180px;
  margin: 8px 0;
  padding: 14px 48px;
  border: 1px solid #c0c0ff;
  border-radius: 8px;
  background-color: aliceblue;
  gap: 4px;
}

#clock.active {
  background-color: #fffa00;
}

.buttons > button {
  background-color: #f4f4ff;
  border-radius: 4px;
  padding: 4px;
  margin-right: 2px;
}

#hours-and-minutes {
  font-size: 24px;
  font-weight: bold;
}
